
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}





/*****************/
/*    Loading    */
/*****************/

#waiting {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100000;
  
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  
  -moz-animation: line-animation 1.5s ease-in-out forwards;
  -webkit-animation: line-animation 1.5s ease-in-out forwards;
  -o-animation: line-animation 1.5s ease-in-out forwards;
  animation: line-animation 1.5s ease-in-out forwards;

}
#waiting h1 {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 20px;
  -moz-animation: line-animation-f 2s ease-in-out forwards;
  -webkit-animation: line-animation-f 2s ease-in-out forwards;
  -o-animation: line-animation-f 2s ease-in-out forwards;
  animation: line-animation-f 2s ease-in-out forwards;
}

@keyframes line-animation-f {
  0% {
    color: #000;
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  70% {
    opacity: 10%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    color: none;
    stroke-dashoffset: 1000;
    visibility:hidden;
  }
}
@keyframes line-animation {
  0% {
    padding: 0% 0%;
    opacity: 100%;
    background: #ffffff;
    stroke-dashoffset: 1000;
  }
  5% {
    padding: 20px 20px;
  }
  50% { 
    stroke-dashoffset: 2000;
  }
  80% {
    padding: 20px 20px;
    stroke-dashoffset: 2000;
    background: #ffffff;
  }
  99% {
    padding: 0px 0px;
    opacity: 100%;
  }
  100% {
    stroke-dashoffset: 1000;
    visibility:hidden;
  }
}





/**************/
/*  BuruBuru  */
/**************/

.buruburu a:hover {
  /*display: inline-block;*/
  display: block;
  animation: hurueru 0.25s ;/*infinite*/
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(0px, 0px) rotateZ(10deg)}
  /*50% {transform: translate(0px, 0px) rotateZ(10deg)}*/
  75% {transform: translate(0px, 0px) rotateZ(-10deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}





body {
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
#page {  
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
a {
  color: #2D6CDF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #2D6CDF;
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #2D6CDF;
}
::-moz-selection {
  color: #fff;
  background: #2D6CDF;
}
::selection {
  color: #fff;
  background: #2D6CDF;
}





/**************************/
/*   Navigation Section   */
/**************************/

.fh5co-nav {
  position: relative;
  width: 100%;
  padding: 30px 0px;
  z-index: 1000;
}
.fh5co-nav h1 {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.fh5co-nav h1 a {
  color: #000;
  font-size: 30px;
  font-family: 'vdl-logog', 'Ubuntu Mono', sans-serif;
}
.fh5co-nav ul li {
  display: inline-block;
  height: 100%;
  padding-top: 10px;
  vertical-align: middle;
}
.fh5co-nav ul li a {
  padding-left: 10px;
  font-size: 18px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  color: #393939;
}
.fh5co-nav ul li a:hover {
  color: rgb(78, 165, 236);
}
@media screen and (max-width: 1200px) {
  .menu-1 { display: none; }
}





/***********************/
/*        Hero         */
/***********************/

#fh5co-hero {
  min-height: 630px;
  height: 630px;
  background: hsl(0, 0%, 100%);
}

/* Hero : button */
#fh5co-hero .btn {
  font-size: 20px;
  text-align: center;
}
#fh5co-hero .btn .btn-primary {
  padding: 20px 30px !important;
}

/* Hero : slider */
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
}
#fh5co-hero .flexslider .slides {
  overflow: hidden;
}
#fh5co-hero .flexslider .slides li {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 630px;
  height: 630px;
}

/* Hero : slider dots */
#fh5co-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}

/* Hero : text */
#fh5co-hero .flexslider .slider-text-2 h1 {
  padding-top: 300px;
  color: #fff;
  font-size: 26px;
  font-family: 'vdl-logog', 'Ubuntu Mono', 'Roboto', sans-serif;
}
#fh5co-hero .flexslider .slider-text-2 h2 {
  color: #fff;
  padding-top: 300px;
  font-size: 26px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero .flexslider .slider-text-2 h2 a {
  color: #fff;
}
#fh5co-hero .flexslider .slider-outer-2 .slider-text-2 > .btn {
  padding: 18px 30px !important;
  color: #fff;
  border: none !important;
  font-size: 16px;
  font-weight: 700;
}
#fh5co-hero .flexslider .slider-text-2 > .btn:hover {
  background: #538aef !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}





/***********************/
/*    Hero-remake      */
/***********************/

#fh5co-hero-rem .container-hero-research {
  position: relative;
  min-height: 630px;
  height: 630px;
  z-index: 1;
  background-image: url(../images/bg/tsukuba_gaus.png);
  background-position: 45% 70%;
  background-repeat: no-repeat;
}
#fh5co-hero-rem .container-hero-research h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color:#fff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;

}
#fh5co-hero-rem .container-hero-profile {
  position: relative;
  min-height: 630px;
  height: 630px;
  z-index: 1;
  background-image: url(../images/bg/shiryokan_gaus.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#fh5co-hero-rem .container-hero-profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color:#ffffff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Maru Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero-rem .container-hero-photo {
  position: relative;
  min-height: 630px;
  height: 630px;
  z-index: 1;
  background-image: url(../images/bg/smartphone.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#fh5co-hero-rem .container-hero-photo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color:#ffffff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Maru Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero-rem .container-hero-photo h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,150%);
  font-size: 18px;
  color:#ffffff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Maru Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero-rem .container-hero-photo2 {
  position: relative;
  min-height: 630px;
  height: 630px;
  z-index: 1;
  background-image: url(../images/bg/cat.jpg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#fh5co-hero-rem .container-hero-photo2 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color:#ffffff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Maru Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero-rem .container-hero-photo2 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,150%);
  font-size: 18px;
  color:#ffffff;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Hiragino Maru Gothic ProN W3', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5co-hero-rem .container-hero-contact {
  position: relative;
  min-height: 630px;
  height: 630px;
  z-index: 1;
  background-image: url(../images/bg/sakura_gaus.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#fh5co-hero-rem .container-hero-contact h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color:#000000;
  margin:0;
  z-index: 10000;
  font-family: 'vdl-logog', 'Ubuntu Mono', 'Roboto', sans-serif;
}





/*************************/
/*   Research overview   */
/*************************/

#fh5co-research-overview {
  position: relative;
  padding-top: 150px;
}
#fh5co-research-overview .content-title h2 {
  font-size: 24px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}
#fh5co-research-overview .content-detail h3 {
  font-size: 20px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}
#fh5co-research-overview .content-detail p {
  font-size: 16px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}





.fh5co-bg-section {
  background: #e8e8e8;
}
#fh5co-course-categories,
#fh5co-counter,
#fh5co-course,
#fh5co-register,
#fh5co-pricing,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-about,
#fh5co-staff,
#fh5co-contact,
#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-course-categories,
  #fh5co-counter,
  #fh5co-course,
  #fh5co-register,
  #fh5co-pricing,
  #fh5co-testimonial,
  #fh5co-blog,
  #fh5co-about,
  #fh5co-staff,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}





/***********************/
/*       Contact       */
/***********************/

.fh5co-contact {
  padding-left: 40px;
  padding-right: 40px;
}
.fh5co-contact h2 {
  margin-bottom: 60px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';
  font-size: 25px;
  color: black;
}
.fh5co-contact h3 {
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';
  font-size: 20px;
  color: black;
}
.fh5co-contact-info ul {
  padding: 0;
  margin: 0;
}
.fh5co-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}
.fh5co-contact-info ul li:before {
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh5co-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9dc";
}
.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\ea3b";
}
.fh5co-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e91e";
}
.fh5co-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9df";
}
.fh5co-contact-info ul li a {
  color: rgba(0, 0, 0, 0.8);
}





/********************/
/*     Research     */
/********************/

#fh5-research {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 20px 20px;
  font-weight: lighter;
}
#fh5-research h2 {
  /*margin-bottom: 10px;*/
  font-size: 24px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5-research h3 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
}
#fh5-research h4 {
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  color: #000;
}
#fh5-research p {
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  line-height: 1.2;
}





/********************/
/*      Profile     */
/********************/

#fh5-profile {
  position: relative;
  width: 100%;
  margin-top: 0px;
  /*margin-bottom: 20px;*/
  padding: 20px 20px;
  padding-top: 80px;
  display: inline-block;
}
#fh5-profile .profile {
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}

#fh5-profile .background h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5-profile .background h3 {
  margin-top: 26px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  vertical-align: middle;
}
#fh5-profile .background h4 {
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  color: #000;
}
#fh5-profile .background p {
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  line-height: 1.2;
}
#fh5-profile .profile .overview {
  position: relative;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  /*vertical-align: bottom;*/
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5-profile .profile .overview h2 {
  width: 100%;
  /*text-align: center;*/
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-weight: 100;
  display: inline-block;
  padding-top: 50px;
  /*margin-top: 20px;*/
  font-size: 22px;
}
#fh5-profile .profile .overview h3 {
  width: 100%;
  /*text-align: center;*/
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-weight: 100;
  display: inline-block;
  /*padding-top: 20px;*/
  font-size: 18px;
}
#fh5-profile .profile .detail {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5-profile .profile .detail h2 {
  width: 100%;
  text-align: center;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-weight: 100;
  display: inline-block;
  font-size: 22px;
}
#fh5-profile .profile .detail h3 {
  width: 100%;
  /*text-align: center;*/
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-weight: 100;
  display: inline-block;
  font-size: 18px;
}





/*******************/
/*    astrophoto   */
/*******************/

#fh5-astrophoto {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 30px;
  padding-top: 500px;
  padding: 10px 10px;
  
}
#fh5-astrophoto .astroimg {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}
#fh5-astrophoto .img-responsive {
  pointer-events: none;
}
#fh5-astrophoto h1 {
  /* TITLE */
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
}
#fh5-astrophoto h2 {
  /* SUB TITLE */
  margin-bottom: 30px;
  font-size: 28px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  text-align: center;
}
#fh5-astrophoto h3 {
  margin-top: 26px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
}
#fh5-astrophoto h4 {
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  color: #000;
}
#fh5-astrophoto p {
  /* DETAIL */
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;
  line-height: 1.1;
  font-weight: lighter;
}





.wrap-price {
  padding: 2em 4em;
}

.pricing__feature-list {
  width: 100%;
  float: left;
}
.pricing__feature-list li {
  margin-bottom: 10px;
}

.pricing__item {
  width: 100%;
  float: left;
  clear: both;
}
@media screen and (max-width: 768px) {  /*org_value=768*/
  .pricing__item {
    margin-bottom: 30px;
  }
}






.fh5co-event {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.fh5co-event .date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.03);
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-event .date span {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.fh5co-event h3 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: "Source Sans Pro", Arial, sans-serif; /* font-family追加 */ 
}
.fh5co-event h3 a {
  color: black;
}
.fh5co-event h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20pt;
  line-height: 1.5;
  font-family: "Source Sans Pro", Arial, sans-serif; /* font-family追加 */
}
.fh5co-event p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20pt;
  line-height: 1.5;
  color: #767676;
  font-family: "Source Sans Pro", Arial, sans-serif; /* font-family追加 */
}





/**********************/
/*        News        */
/**********************/

#fh5co-blog {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 20px 20px;
}
#fh5co-blog .content-title h2 {
  font-size: 24px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}

#fh5co-blog .content-detail h3 {
  font-size: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}
#fh5co-blog .content-detail a {
  font-size: 18px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}
#fh5co-blog .content-detail p {
  font-size: 16px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W4', 'themify', 'Arial';*/
}







#fh5co-register {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
#fh5co-register .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
#fh5co-register h2, #fh5co-register h3, #fh5co-register p {
  color: #fff;
}
#fh5co-register .btn-reg {
  background: transparent;
  border: 2px solid #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.simply-countdown {
  /* The countdown */
  margin-top: 3em;
  margin-bottom: 3em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
  position: relative;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 115px;
  width: 120px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 40px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  /* words */
}

.staff {
  width: 100%;
  float: left;
  display: block;
  margin-bottom: 40px;
}
.staff .staff-img {
  width: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  display: table;
}
.staff .staff-img:before {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.staff .staff-img .fh5co-social {
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
  height: 300px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}
.staff .staff-img .fh5co-social li {
  display: inline-block;
  padding: 0 7px;
}
.staff h3 {
  font-size: 18px;
}
.staff h3 a {
  color: #000;
}
.staff span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.staff:hover .staff-img:before {
  opacity: 1;
}
.staff:hover .staff-img .fh5co-social {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fh5co-gallery {
  padding-top: 2.5em;
}
#fh5co-gallery h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 2.5em;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
#fh5co-gallery h2 span {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  position: relative;
}
#fh5co-gallery h2 span:before, #fh5co-gallery h2 span:after {
  position: absolute;
  top: 18px;
  bottom: 0;
  content: '';
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
#fh5co-gallery h2 span:before {
  /*lett: 0;*/
  margin-left: -125px;
}
#fh5co-gallery h2 span:after {
  right: 0;
  margin-right: -110px;
}

.gallery {
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
.gallery:hover {
  -webkit-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
}

#fh5co-footer {
  margin-top: 200px;
  background: #efefef;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff !important;
}
#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #fff;
}
#fh5co-footer .copyright .block {
  display: block;
}
#fh5co-footer .copyright .block a {
  color: rgba(255, 255, 255, 0.5);
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#fh5co-offcanvas {
  font-size: 24px;
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1500px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea1c";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}





/*******************/
/*    Hamburger    */
/*******************/

.fh5co-nav-toggle {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 12px Helvetica; /*14px/.4*/
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
  background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 1200px) {
  .fh5co-nav-toggle {
    display: block;
  }
}





/******************/
/*     Button     */
/******************/

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'vdl-logog', 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;  
  /*font-family: 'Hiragino Kaku Gothic ProN W0', "Yu Gothic", 'Roboto', sans-serif;*/
  font-size: 14px;
  font-weight: 100;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn-primary {
  background: #2D6CDF;
  color: #fff;
  border: 2px solid #2D6CDF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #437be2 !important;
  border-color: #437be2 !important;
}





.row-pb-md {
  padding-bottom: 4em !important;
}
.row-pb-sm {
  padding-bottom: 2em !important;
}
.row-padded-mb {
  margin-bottom: 3em !important;
}
.col-padded {
  margin: 0 !important;
  padding: 0 !important;
}
.js .animate-box {
  opacity: 0;
}
